.admin_view{
	max-width:450px;
	margin: 30px auto 57px;
}
ul.admin_list {
	width:70%;
	margin:0 auto;
	padding-left: 0;
}

ul.admin_list li {
	padding: 14px 0px 14px 1px;
}
.field-hr{
max-width: 320px;
opacity: 0.32;
filter: alpha(opacity=32); /* For IE8 and earlier */
margin: 5px 0px 10px 0px;
}