body {
    font-family: Verdana,sans-serif;
    background-color: lightgrey;
    background:url('/ui/bg.png');
    margin-top: 75px;
}
#wrapper{
	max-width: 474px;
    margin: 0px auto;
    background-color: #121212;
    opacity: 0.84;
	border-top:3px solid #5BBF50;
    min-height: 450px;
    padding: 30px;
    color: #bfbfbf;
}
#wrapper .small-hr{
	width: 300px;
    opacity: 0.5;
}
.center {
    text-align: center;
}
.text-big {
    font-size: 200%;
}
.bold {
    font-weight: bold;
}
.img-medium {
    height: 200px;
}
#counter,#logo{
	cursor:pointer;
}



